events {
  worker_connections 4096;
  accept_mutex on;
}


http {
  upstream backend {
    server 0.0.0.0:BACKEND_PORT;
  }

  error_log BOOTSTRAP_ROOT/web-server/logs/error.log;

  proxy_buffers 8 16k;
  proxy_buffer_size 32k;

  default_type  application/octet-stream;
  include mime.types;
  sendfile        on;
  keepalive_timeout  65;

  client_max_body_size 10M;

  server {
    listen 443 ssl;
    ssl_certificate BOOTSTRAP_ROOT/web-server/server.crt;
    ssl_certificate_key BOOTSTRAP_ROOT/web-server/server.key;

    location /data {
      return 404;
    }

    location / {
      root APP_ROOT;
      index index.html;

      location ~ /(images|js|styles)/ {
        index *.jpg;
        index *.css;
        index *.js;
      }
    }

    location /meals {
      proxy_pass http://backend;
    }
  }
}

